<% if @posts.empty? %>
  <ul class="posts" data-requesttime="<%= DateTime.now %>">
<% else %>
  <ul class="posts" data-requesttime="<%= @posts[0]['orig_request_time'] %>">
<% end %>
  <% @posts.each do |post| %>
    <%= render 'posts/post', :post => post %>
  <% end %>
</ul>
<%= image_tag("ajax-loader.gif", class: "ajax_loader hidden") %>
<div class="feed_end"></div>