<div id="feed">
  <ul class="posts">
    <% @posts.each do |post| %>
      <%= render 'posts/post', :post => post %>
    <% end %>
  </ul>
</div>
<%= image_tag("ajax-loader.gif", class: "ajax_loader hidden") %>