/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 $grayMediumLight: #eaeaea;

/*application*/
.container{
  height: 100vh;
}
.hidden{
  display: none; 
}
.ajax_loader{
  display: block;
  height: 50px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}
.empty{
  display: hidden;
}
.menu_icon{
  padding-right: 10px;
}
.notification{
  color: #808080;
  padding-left: 16px;
  text-decoration: none;
  :hover{
    color:#808080;
  }
  :visited{
    color: #808080;
  }
}
#home-forms{
  margin: 20px;
  .home-form{
    margin-top:5px;
    margin-bottom: 20px;
  }
}
.no-focus:focus {
    outline: none;
}

/* Posts */
.posts{
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
}
.bottom-bar{
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin-bottom: 0px;
}
.post_vote{
  color: #8A8A8A;
}
.bold{
  color: blue;
  font-weight: bold;
}

#end_of_posts{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.feed_end{
  height: 100px;
}
.post{
  border-bottom: 1px solid;
  border-color: $grayMediumLight;
  padding-bottom: 1%;
  padding-top: 1%;
}
.post_avatar_div{
  padding-top: 3px;
}
.post_ignore{
  margin-left: 15px;
}
.delete_post{
  margin-left: 30px;
  :hover{
    text-decoration: underline;
  color: #444;
  }
}
.show-post{
  margin: 0 !important;
}
.popular_active{
  padding-bottom: -5px;
  border-bottom: 5px solid;
}
.location_active{
  padding-bottom: -5px;
  border-bottom: 5px solid;
}
.followed_active{
  padding-bottom: -5px;
  border-bottom: 5px solid;
}
 /*Post - new*/
 #new-post{
  margin-top: 20px;
  margin-bottom: 20px;
  .fi-sound{
    font-size: 20px;
  }
  .button{
    padding: 0.3rem 1rem 0.3rem;
  }
 }

/* User */
#follow_stats{
  margin-top: 10px;
  margin-bottom: 10px;
}
#user-info-username{
  border-bottom: 2px solid;
}
.user-header{
  margin-top: 20px;
}
.avatar-div{
}
#user_avatar{
  height: 100%;
}
.user-posts{
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
}
.tabs-content{
  background-color: #f8f8f8;
  .post{
    border-color: #DDD !important;
  }
}